h1 {
    color: brown;
}

a:link{
    font-size: 50px;
    text-decoration: none;
    color: red;
}

a:visited {
    color: aqua;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: blue;
}

img {
    width: 50px;
    margin-bottom: 10px;
}

#github:link, #github:visited {
    background-color: rgb(138, 43, 226);
    color: rgb(255, 255, 255);
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;
}

#github:hover {
    background-color: rgb(178, 124, 230);
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;
}

#github:active {
    background-color: rgb(178, 124, 230);
    color: black;
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;
}